## part5.  Sequence Types 다루기

### sequence 멤버를 하나로 이어붙이기

문제 설명    
문자열 리스트 mylist를 입력받아, 이 리스트의 원소를 모두 이어붙인 문자열을 리턴하는 함수, solution을 만들어주세요. 예를 들어 mylist가 ['1', '100', '33'] 인 경우, solution 함수는 '110033'을 리턴하면 됩니다.

In [1]:
# join()

def solution(mylist):
    answer = ''.join(mylist)
    return answer

In [2]:
# for

my_list = ['1', '100', '33']
answer = ''
for i in my_list:
    answer += i
answer

'110033'

### 삼각형 별찍기

이 문제에는 표준 입력으로 정수 n이 주어집니다.
별(*) 문자를 이용해 높이가 n인 삼각형을 출력해보세요.

In [4]:
n = int(input().strip())

for i in range(1,n+1):
    print('*'*i)

3
*
**
***

#### 삼각형 별찍기 - sequence type의 * 연산    

이번 강의에서는 곱셈 연산 '*'를 통해 문자열을 반복하는 방법을 배웁니다.

In [7]:
answer = ''
n = 3
for i in range(n):
    answer += 'abc'
    
answer

'abcabcabc'

In [8]:
# * 사용

#파이썬에서는 *연산자를 사용해 코드를 획기적으로 줄일 수 있습니다.

n = 3
answer1 = 'abc'*n


#또, * 연산자를 이용하면 [123, 456, 123, 456, 123 ...] 과같이 123, 456이 n번 반복되는 리스트를 만들 수 있습니다.

n = 3
answer2= [123, 456]*n

print(answer1)
print(answer2)

abcabcabc
[123, 456, 123, 456, 123, 456]